In [9]:
import pandas as pd
df=pd.read_excel("British Airways Summer Schedule Dataset - Forage Data Science Task 1.xlsx")
df

,FLIGHT_DATE,FLIGHT_TIME,TIME_OF_DAY,AIRLINE_CD,FLIGHT_NO,DEPARTURE_STATION_CD,ARRIVAL_STATION_CD,ARRIVAL_COUNTRY,ARRIVAL_REGION,HAUL,AIRCRAFT_TYPE,FIRST_CLASS_SEATS,BUSINESS_CLASS_SEATS,ECONOMY_SEATS,TIER1_ELIGIBLE_PAX,TIER2_ELIGIBLE_PAX,TIER3_ELIGIBLE_PAX
0,2025-09-02,14:19:00,Afternoon,BA,BA5211,LHR,LAX,USA,North America,LONG,B777,8,49,178,0,10,38
1,2025-06-10,06:42:00,Morning,BA,BA7282,LHR,LAX,USA,North America,LONG,B777,8,49,178,0,7,28
2,2025-10-27,15:33:00,Afternoon,BA,BA1896,LHR,FRA,Germany,Europe,SHORT,A320,0,17,163,0,11,40
3,2025-06-15,18:29:00,Evening,BA,BA5497,LHR,IST,Turkey,Europe,SHORT,A320,0,8,172,0,16,54
4,2025-08-25,20:35:00,Evening,BA,BA1493,LHR,FRA,Germany,Europe,SHORT,A320,0,13,167,0,6,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2025-06-07,22:04:00,Evening,BA,BA7039,LHR,VIE,Austria,Europe,SHORT,A320,0,7,173,1,15,51
9996,2025-04-22,15:15:00,Afternoon,BA,BA9712,LHR,ORD,USA,North America,LONG,B777,8,49,178,1,0,0
9997,2025-08-16,06:11:00,Morning,BA,BA7513,LHR,HND,Japan,Asia,LONG,B777,0,32,304,0,4,19
9998,2025-10-24,22:02:00,Evening,BA,BA9958,LHR,DXB,UAE,Middle East,LONG,B787,8,48,200,1,10,38
9999,2025-05-28,22:00:00,Evening,BA,BA8374,LHR,DFW,USA,North America,LONG,B787,0,35,179,2,11,40

In [14]:
df["TIME_OF_DAY"].unique()
df["HAUL"].unique()
df["ARRIVAL_REGION"].unique()

array(['North America', 'Europe', 'Asia', 'Middle East'], dtype=object)

In [71]:
df["TOTAL_PASSENGERS"]= df["FIRST_CLASS_SEATS"] + df["BUSINESS_CLASS_SEATS"] + df["ECONOMY_SEATS"]
df["TIER1S"]=df["TIER1_ELIGIBLE_PAX"]
df["TIER2S"]=df["TIER2_ELIGIBLE_PAX"]
df["TIER3S"]=df["TIER3_ELIGIBLE_PAX"]
df["Total"]=df["TOTAL_PASSENGERS"]+df["TIER1_ELIGIBLE_PAX"]+df["TIER2_ELIGIBLE_PAX"]+df["TIER3_ELIGIBLE_PAX"]
grouped=df.groupby(["TIME_OF_DAY", "HAUL", "ARRIVAL_REGION"])["Total"].sum()
grouped

TIME_OF_DAY  HAUL   ARRIVAL_REGION
Afternoon    LONG   Asia               50533
                    Middle East        53251
                    North America     208001
             SHORT  Europe            298111
Evening      LONG   Asia               67530
                    Middle East        66263
                    North America     259030
             SHORT  Europe            390827
Lunchtime    LONG   Asia               24434
                    Middle East        25469
                    North America      92934
             SHORT  Europe            166534
Morning      LONG   Asia               80992
                    Middle East        82127
                    North America     321573
             SHORT  Europe            452270
Name: Total, dtype: int64

In [83]:
df["Total"]=df["TOTAL_PASSENGERS"]+df["TIER1_ELIGIBLE_PAX"]+df["TIER3_ELIGIBLE_PAX"]
df["TIER1_ELIGIBLE_PCT"]=(df["TIER1_ELIGIBLE_PAX"]/df["Total"])*100
df["TIER2_ELIGIBLE_PCT"]=(df["TIER2_ELIGIBLE_PAX"]/df["Total"])*100
df["TIER3_ELIGIBLE_PCT"]=(df["TIER3_ELIGIBLE_PAX"]/df["Total"])*100



grouped=df.groupby(["TIME_OF_DAY", "HAUL", "ARRIVAL_REGION"])[["Total","TIER1_ELIGIBLE_PCT", "TIER2_ELIGIBLE_PCT", "TIER3_ELIGIBLE_PCT", "Total"]
].mean()
grouped=grouped.round(4)
grouped
grouped.to_excel("BA_Lounge_Lookup_Table.xlsx")

In [19]:
df

,FLIGHT_DATE,FLIGHT_TIME,TIME_OF_DAY,AIRLINE_CD,FLIGHT_NO,DEPARTURE_STATION_CD,ARRIVAL_STATION_CD,ARRIVAL_COUNTRY,ARRIVAL_REGION,HAUL,AIRCRAFT_TYPE,FIRST_CLASS_SEATS,BUSINESS_CLASS_SEATS,ECONOMY_SEATS,TIER1_ELIGIBLE_PAX,TIER2_ELIGIBLE_PAX,TIER3_ELIGIBLE_PAX
0,2025-09-02,14:19:00,Afternoon,BA,BA5211,LHR,LAX,USA,North America,LONG,B777,8,49,178,0,10,38
1,2025-06-10,06:42:00,Morning,BA,BA7282,LHR,LAX,USA,North America,LONG,B777,8,49,178,0,7,28
2,2025-10-27,15:33:00,Afternoon,BA,BA1896,LHR,FRA,Germany,Europe,SHORT,A320,0,17,163,0,11,40
3,2025-06-15,18:29:00,Evening,BA,BA5497,LHR,IST,Turkey,Europe,SHORT,A320,0,8,172,0,16,54
4,2025-08-25,20:35:00,Evening,BA,BA1493,LHR,FRA,Germany,Europe,SHORT,A320,0,13,167,0,6,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2025-06-07,22:04:00,Evening,BA,BA7039,LHR,VIE,Austria,Europe,SHORT,A320,0,7,173,1,15,51
9996,2025-04-22,15:15:00,Afternoon,BA,BA9712,LHR,ORD,USA,North America,LONG,B777,8,49,178,1,0,0
9997,2025-08-16,06:11:00,Morning,BA,BA7513,LHR,HND,Japan,Asia,LONG,B777,0,32,304,0,4,19
9998,2025-10-24,22:02:00,Evening,BA,BA9958,LHR,DXB,UAE,Middle East,LONG,B787,8,48,200,1,10,38
9999,2025-05-28,22:00:00,Evening,BA,BA8374,LHR,DFW,USA,North America,LONG,B787,0,35,179,2,11,40

In [22]:
total_Tier1=

np.int64(2250069)